<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- UTF-8 = 65001 / ISO-8859-1 (Encoding.Default) = 1252 -->
    <add key="CSharpFilesCodePage" value="65001" />
    <!-- Possible values: SPACES/TABS -->
    <add key="CSharpIndentType" value="TABS" />
    <!-- Only if CSharpIndentType = SPACES -->
    <add key="CSharpIndentSize" value="4" />
    <!-- Possible values: SPACES/TABS -->
    <add key="SqlIndentType" value="SPACES" />
    <!-- Only if SqlIndentType = SPACES -->
    <add key="SqlIndentSize" value="2" />
    
    <!-- MySQL/MariaDB -->
    <add key="DefaultConnectionString" value="Server=localhost;Port=3306;Database=mydb;Uid=%USERNAME%;Pwd=%PASSWORD%;" />
    <add key="DefaultProvider" value="MySql.Data.MySqlClient" />
    <add key="DefaultParameterPrefix" value="@" />
    <!-- Oracle -->
    <!--<add key="DefaultConnectionString" value="Data Source=mydb;Persist Security Info=True;User ID=%USERNAME%;Password=%PASSWORD%" />
    <add key="DefaultProvider" value="System.Data.OracleClient" />
    <add key="DefaultParameterPrefix" value=":" />-->
    
    <add key="DefaultObjectsNamespace" value="MyDbProject.Objects" />
    <add key="DefaultDbLayerNamespace" value="MyDbProject" />
    <add key="DefaultDbLayerObjectName" value="MyDb" />
    <add key="DefaultUseSelectAll" value="True" />
    <add key="DefaultUseSelectById" value="True" />
    <add key="DefaultUseInsert" value="True" />
    <add key="DefaultUseUpdateSingle" value="True" />
    <add key="DefaultUseUpdateAll" value="True" />
    <add key="DefaultUseDelete" value="True" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>